<style type="text/css">
  .container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted black;
  }
</style>

<div class="container">
  <h1><%= @post.title %></h1>
  <span>
    <form name="edit" action="/post/edit/<%= @post.id %>" method="get">
    <input type="submit" value="Edit post"/>
    </form>
  </span>  
  <span>
    <form name="delete" action="/post/delete" method="post">
    <input type="hidden" name="post_id" value="<%= @post.id %>"/>
    <input type="submit" value="Delete post"/>
    </form>
  </span>  
  <p><%= @post.content %></p>
  <div>tags</div>
  <% @post.tags.each do |tag| %>
  <div><a href="../tag/<%= tag[:description] %>"><%= tag[:description] %></a></div>
  <% end %>
  <a href="/">&larr; Return to home</a>
</div>

